<div
  *ngIf="pagedResult"
  class="container"
>
  <div class="sprk-u-mtl">
    <sprk-table>
      <thead sprkTableHead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedResult.items">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
        </tr>
      </tbody>
    </sprk-table>
  </div>

  <div class="sprk-u-mtl">
    <sprk-pagination
      [currentPage]="pagedResult.currentPage"
      [totalItems]="pagedResult.totalItems"
      [itemsPerPage]="pagedResult.itemsPerPage"
      (previousClick)="goTo(pagedResult.currentPage - 1)"
      (pageClick)="goTo($event.page)"
      (nextClick)="goTo(pagedResult.currentPage + 1)"
    >
    </sprk-pagination>
  </div>
</div>
